.for-img {
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.img__full {
    width: 100vw;
    margin-top: -200px;
}

#text {
    width: 730px;

    h2 {
        margin-top: 50px;
        margin-bottom: 10px;
        font-family: 'Proxima Nova Bold';
        font-size: 40px;
        line-height: 130%;
        color: #001535;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-family: 'Proxima Nova Bold';
        font-size: 25px;
        line-height: 130%;
        color: #001535;
    }

    h4 {
        margin-top: 40px;
        margin-bottom: 14px;
        font-family: 'Proxima Nova Bold';
        font-size: 20px;
        line-height: 130%;
        color: #001535;
    }

    h5 {
        font-family: 'Proxima Nova Bold';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    p {
        font-family: 'Proxima Nova Regular';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    li {
        margin-bottom: 10px;
        margin-left: 20px;
        font-family: 'Proxima Nova Regular';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    li::before {
        position: absolute;
        display: block;
        content: " ";
        width: 8px;
        height: 8px;
        background-color: #00489D;
        border-radius: 5px;
        margin-top: 8px;
        margin-left: -20px;
    }
    
    img {
        width: 100%;
        margin: 40px 0;
    }
}

.pluses__card--white {
    border: 1px solid rgba(#001535, 0.2);

    p {
        font-family: 'Proxima Nova Semibold';
        color: #001535;
    }
}

.pluses__number--white {
    color: #001535;
    opacity: 0.2;
}

.pluses__h2 {
    font-size: 40px;
    margin: 140px 0 50px;
}

.sert {

    img {
        width: 255px;
        height: 360px;
    }
}

@media screen and (max-width: 750px) {
    #text {
        width: 100%;

    }

    .img__full {
        margin-top: 0px;
        height: 400px;
        width: 750px;
    }
}

@media screen and (max-width: 450px) {

    .template h1 {
        font-size: 40px;
    }

    #text {
        width: 100%;

        h2 {
            font-size: 30px;
        }
    }

    .img__full {
        margin-left: -300px;
    }

    .pluses__h2 {
        font-size: 25px;
    }

}