body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

section {
    width: 1110px;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

hr {
    margin: 20px 0 29px;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.2;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

//-------------------------------------------fonts

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

//-------------------------------------------h1-h6 and etc.

h1 {
    font-family: 'Proxima Nova Extra Bold';
    font-weight: normal;
}

h2 {
    font-family: 'Proxima Nova Extra Bold';
    font-weight: normal;
}

h3 {
    font-family: 'Proxima Nova Extra Bold';
}

p {
    font-family: 'Proxima Nova Regular';
    color: #88ABD4;
    opacity: 0.78;
}

span {

}

a {
    color: white;
    text-decoration: none;
    font-family: 'Proxima Nova Semibold';

    &:hover {
        color: white;
        text-decoration: none;
    }
}

//-------------------------------------------buttons