@import './constants.scss';
@import './index.scss';
@import './mobile.scss';
@import './card-page.scss';
@import './contacts.scss';

.for-img {
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.img__full {
    width: 100vw;
    margin-top: -500px;
}

#text {
    h2 {
        font-family: 'Proxima Nova Bold';
        font-size: 40px;
        line-height: 130%;
        color: #001535;
    }

    h3 {
        font-family: 'Proxima Nova Bold';
        font-size: 25px;
        line-height: 130%;
        color: #001535;
    }

    h4 {
        font-family: 'Proxima Nova Bold';
        font-size: 20px;
        line-height: 130%;
        color: #001535;
    }

    h5 {
        font-family: 'Proxima Nova Bold';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    p {
        font-family: 'Proxima Nova Regular';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    ul li {
        
    }
}