@import './constants.scss';
@import './index.scss';
@import './mobile.scss';
@import './card-page.scss';
@import './contacts.scss';
@import './about.scss';

#calculator1 {
    margin-top: 100px;
    width: 1103px;
    height: 551px;
    display: flex;
    justify-content: space-between;

    p {
        font-family: 'Proxima Nova Regular';
        font-size: 16px;
        line-height: 130%;
        color: #001535;
        opacity: 0.7;
    }

    h2 {
        font-family: 'Proxima Nova Extra Bold';
        font-size: 30px;
        line-height: 125%;
        color: #001535;
        margin-bottom: 35px;
    }

    input[type="text"] {
        border: 2px solid rgba( #001535, 0.6);
        width: 146px;
        height: 50px;
        padding: 15px 22px;
        font-size: 16px;
        line-height: 130%;
        color: #001535;
    }

    input[type="text"]:hover {
        border: 2px solid rgba( #001535, 1);
    }

    .number__calc {
        position: absolute;
        right: 0;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #001535;
        opacity: 0.2;
        margin-top: -5px;
        margin-right: 55px;
    }
}

.calc1__l-col {
    position: relative;
    width: 656px;
    min-height: 550px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.l-head {
    padding: 40px 50px;
}

.calc1__r-elem {
    position: relative;
    width: 417px;
    height: 262px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 40px 50px;
    margin-bottom: 26px;
}

.calc1__r-elem:first-child {
    margin-bottom: 26px;
}

.select-wrapper {
    width: 100%;
    height: 50px;
    position: relative;
}

.select-wrapper > select {
    width: 100%;
    height: 100%;
    border: 2px solid rgba( #001535, 0.6);
    padding: 15px 20px;
    background: transparent;
    appearance: none;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #001535;
    font-size: 16px;
    line-height: 130%;
    font-family: 'Proxima Nova Semibold';
}

.under-select {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.select-wrapper > select:hover {
    border: 2px solid rgba( #001535, 1);
}

.select-wrapper > select::-ms-expand{
    display: none;
}

.select-arrow {
    position: absolute;
    right: 0;
    margin-top: 21px;
    margin-right: 20px;
}

.select-wrapper > select > option {
    color: #001535;
    font-size: 16px;
    line-height: 130%;
    font-family: 'Proxima Nova Semibold';
    padding: 35px 20px;
}


input[type="radio"] { 
    display: none;
}

.tab, .tab-title {
    display: inline-block;

}

.tabs {
    margin-top: 10px;
    position: absolute;
}

.tab :checked + .tab-title {
    position: relative;
    z-index: 1; 
    border: 1px solid #00489D;
    border-bottom: 1px solid rgba(white, 1);
    opacity: 1;
    color: #00489D;
}

.tab :hover + .tab-title {
    opacity: 1;
    color: #00489D;
    cursor: pointer;
}

.tab :checked ~ .tab-content {
    display: block; 
}

.tab-content {
    position: absolute;
    display: none;
    left: 0;
    padding-top: 30px;
    width: 550px;

    h4 {
        margin-top: 40px;
        margin-bottom: 14px;
        font-family: 'Proxima Nova Bold';
        font-size: 20px;
        line-height: 130%;
        color: #001535;
    }

    h5 {
        font-family: 'Proxima Nova Bold';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    p {
        font-family: 'Proxima Nova Regular';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    li {
        margin-bottom: 10px;
        margin-left: 20px;
        font-family: 'Proxima Nova Regular';
        font-size: 15px;
        line-height: 150%;
        color: #001535;
        opacity: 0.8;
    }

    li::before {
        position: absolute;
        display: block;
        content: " ";
        width: 8px;
        height: 8px;
        background-color: #00489D;
        border-radius: 5px;
        margin-top: 8px;
        margin-left: -20px;
    }
}

.tab-title {
    padding: 10px 40px;
    font-family: 'Proxima Nova Bold';
    font-size: 16px;
    line-height: 125%;
    color: #001535;
    opacity: 0.6;
}



#calculator1 #calc-final {
    font-family: 'Proxima Nova Extra Bold';
    font-size: 60px;
    line-height: 130%;
    color: #00489D;
    opacity: 1;
}

.btn__calc {
    bottom: 0;
    display: block;
    width: 100%;
    padding: 1em 7em;
    margin: 30px 0 0 0;
}

.price__calc span {
    margin-top: 30px;
}

.tabs-line {
    width: 100%;
    border-bottom: 1px solid rgba(#00489D, 1);
    margin-top: 11px;
    position: absolute;
}

.circle {
    width: 12px;
    height: 12px;
    position: absolute;
    border: 1px solid #001535;
    opacity: 0.6;
    border-radius: 6px;
    margin-left: -20px;
    margin-top: 3px;
}

.tab :checked + .tab-title > .circle {
    border: 1px solid #00489D;
    opacity: 1;
}

.circlein {
    width: 8px;
    height: 8px;
    background-color: #00489D;
    border-radius: 4px;
    margin-left: 1px;
    margin-top: 1px;
    display: none;
}

.tab :hover + .tab-title > .circle > .circlein {
    display: block;
}

.tab :checked + .tab-title > .circle > .circlein {
    display: block;
}

@media screen and (max-width: 1155px) {
    #calculator1 {
        width: 100%;
        display: block;
        height: 751px;
    }

    .calc1__l-col {
        width: 100%;
        margin-bottom: 20px;
    }

    .tab, .tab-title {
        width: 220px;
    }

    .tab-title {
        padding: 10px 75px;
    }
    .tab-content {
        width: 100%;
    }

    .calc1__r-col {
        display: flex;
        justify-content: space-between;
    }
    .calc1__r-elem:nth-child(2) {
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .calc1__r-elem {
        padding: 30px 20px;
    }

    .number__calc {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .calc1__r-elem {
        height: 222px;
    }

    .btn__calc {
        margin: 13px 0 0 0;
    }

    .tab, .tab-title {
        width: 160px;
    }

    .tab-title {
        padding: 10px 50px;
    }

    #calculator1 input[type="text"] {
        width: 120px;
    }

    .btn__calc {
        padding: 1em 4.5em;
    }
}

@media screen and (max-width: 622px) {
    .calc1__r-col {
        display: block;
    }
    .calc1__r-elem:nth-child(2) {
        margin-left: 0px;
    }
    .calc1__r-elem {
        width: 100%;
    }
    #calculator1 {
        height: 1100px;
    }
    .under-select {
        display: block;
    }
    .calc1__r-elem:first-child {
        height: 320px;
    }
    .btn__calc {
        padding: 1em 12em;
    }
    #calculator1 input[type="text"] {
        width: 100%;
    }
} 

@media screen and (max-width: 622px) {
    .btn__calc {
        padding: 1em 9em;
    }
}

@media screen and (max-width: 440px) {
    .btn__calc {
        padding: 1em 7em;
    }
}

@media screen and (max-width: 360px) {
    .btn__calc {
        padding: 1em 5em;
    }
}