@import './constants.scss';
@import './index.scss';

//---------------------------------------------Mobile

@media screen and (max-width: 1620px) and (max-height: 900px) {

    header {
        height: 100vh;
    }
}

@media screen and (max-width: 1520px) {

    nav section {
        width: 1110px;
    }

    .fixed nav section {
        width: 1110px;
    }
}

@media screen and (max-width: 1158px) {
    
    section {
        width: 100%;
        padding: 0 24px;
    }

    nav section {
        width: 100%;
    }
}

@media screen and (max-width: 1118px) {
    .template__cards {
        justify-content: space-around;
    }
    .navigation__up ul li {
        margin-right: 30px;
    }
    .navigation__tel {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1098px) {
    .hiiderm {
        display: none;
    }
}

@media screen and (max-width: 1050px) {

    .footer__up {
        display: block;
    }

    .f__up__right {
        margin-top: 55px;
    }

    .f__up__right {
        display: block;
    }
    .footer-social {
        margin-top: 40px;
    }
    .social-vk:first-child {
        margin-left: 0;
    }
    .footer-menu {
        margin-top: 50px;   
    }
    .footer-menu ul {
        margin-left: 0;
    }
    .footer-menu ul li:first-child {
        margin-left: 0px;
    }
    .admf:last-child {
        margin-right: 0px;   
    }
}

@media screen and (max-width: 980px) {
    .form-dark__up h3 {
        width: 100%;
        text-align: center;
    }

    .form-dark__up {
        display: block;
    }
    .form__dark {
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        height: 1px;
        opacity: 0;
        display: none;
    }

    .label__form {
        display: flex;
        width: 580px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .policy {
        margin-left: auto;
        margin-right: auto;
    }

    .btn__popup {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .form-dark__up {
        padding: 46px 0px;
    }

    .form__dark {
        width: 100%;
    }

    .kaska {
        margin-left: -430px;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        width: 100%;
    }

    .logo {
        position: relative;
        left: 0;
        z-index: 10;
        margin-top: 30px;
        margin-left: 24px;

        h2 {
            margin-top: 0;
        }
    }

    .template__cards {
        justify-content: space-between;
    }
    
.mobile-backcolor {
    background-color: #001F44;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    .menu__btn {
        top: 24px;
    }

    .logo {
        margin-top: -5px;
    }
}

#menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 54px;
    right: 24px;
    width: 42px;
    height: 26px;
    cursor: pointer;
    z-index: 2001;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    padding-top: 0px;
    border: none;
    z-index: 2001;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;  
    width: 100vw;
    height: 100vh;  
    margin: 0;
    padding: 100px 0;  
    list-style: none;
    background-color: #001F44;
    z-index: 2000;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;  
    color: white;
    font-family: 'Proxima Nova Semibold';
    font-size: 35px;
    line-height: 130%;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #16192a;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.4s;
}.menu__box {
  transition-duration: 0.7s;
}.menu__item {
  transition-duration: 0.7s;
}
}


@media screen and (max-width: 747px) {
    .project__card {
        width: 320px;
        height: 320px;
        margin-bottom: 20px;
    }

    .pluses__card {
        width: 320px;
        height: 270px;
        padding: 30px;
        margin-bottom: 20px;

        img {
            height: 80px;
            width: 80px;
        }
    }

    .pluses__number {
        padding: 30px 30px 0 0;
    }

    .service__card {
        width: 320px;
        height: 320px;
        margin-bottom: 20px;
    }

    .post__card {
        width: 320px;
        height: 432px;
        margin-bottom: 20px;
    }

    .kaska {
        margin-left: -600px;
    }
}

@media screen and (max-width: 700px) {
    .header__left {
        width: 100%;
    }

    .header__left h2 {
        font-size: 42px;
    }

    .info h3 {
        font-size: 26px;
    }

    h2 {
        font-size: 40px;
    }

    .label__form {
        display: block;
        width: 280px;
    }

    .form-dark__up {
        height: 490px;
        margin: 20px;
    }

    .form-dark__up h3 {
        font-size: 26px;
    }

    .dark-form {
        height: 530px;
    }

    .policy {
        text-align: center;
    }
}

@media screen and (max-width: 606px) {
    .template__cards {
        justify-content: space-around;
    }
}

@media screen and (max-width: 686px) {

    .footer-admin {
        display: block;
    }

    .admf {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .footer-menu {
        display: block;
    }

    .footer-menu ul {
        display: block;
    }

    .footer-menu ul li {
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .footer__down {
        display: block;
    }

    .pol {
        margin-top: 0;
    }

    .pol a:first-child {
        margin: 20px 0px;
        display: block;
    }

    .post__text .text {
        font-size: 16px;
    }

    .project__card {
        width: 280px;
        height: 280px;

        p {
            font-size: 16px;
        }
    }
    .service__card h3 {
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .pluses__card {
        width: 280px;
        height: 250px;

        img {
            height: 60px;
            width: 60px;
        }

        p {
            font-size: 16px;
        }
    }

    .service__card {
        width: 280px;
        height: 280px;

        p {
            font-size: 16px;
        }
    }

    .post__card {
        width: 280px;
        height: 390px;

        p {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 550px) {
    .info {
        width: 310px;
        height: 438px;
        margin-right: -20px;
        padding: 30px 20px 30px 30px;
    }

    .kaska {
        width: 505px;
        height: 375px;
        margin-left: -300px;
    }

    .info h3 {
        font-size: 18px;
    }

    .header__left h2 {
        font-size: 28px;
    }

    .header__left {
        padding-top: 130px;
    }

    .info p {
        font-size: 14px;
    }

    .header__left p {
        font-size: 14px;
    }

    .logo {
        margin-top: 20px;
    }

    .menu__btn {
        top: 46px;
    }

    .h2__light {
        margin-bottom: 30px;
    }

    .form-dark__up h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .form-dark__up {
        height: 470px;
        margin: 10px;
        padding-top: 30px;
    }

    .dark-form {
        height: 490px;
    }

    .dark__form__section {
        padding: 0;
    }
}