@media screen and (max-width: 1520px) {
  nav section {
    width: 1138px;
  }
  .fixed nav section {
    width: 1138px;
  }
}

@media screen and (max-width: 1158px) {
  section {
    width: 100%;
    padding: 0 24px;
  }
  nav section {
    width: 100%;
  }
}

@media screen and (max-width: 1118px) {
  .navigation__up ul li {
    margin-right: 30px;
  }
  .navigation__tel {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1050px) {
  .footer__up {
    display: block;
  }
  .f__up__right {
    margin-top: 55px;
  }
  .f__up__right {
    display: block;
  }
  .footer-social {
    margin-top: 40px;
  }
  .social-vk:first-child {
    margin-left: 0;
  }
  .footer-menu {
    margin-top: 50px;
  }
  .footer-menu ul {
    margin-left: 0;
  }
  .footer-menu ul li:first-child {
    margin-left: 0px;
  }
  .admf:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 980px) {
  .kaska {
    margin-left: 08px;
    width: 100%;
  }
  .bg__mb__templ {
    display: block;
  }
  .form-dark__up h3 {
    width: 100%;
    text-align: center;
  }
  .form-dark__up {
    display: block;
  }
  .form__dark {
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    height: 1px;
    opacity: 0;
    display: none;
  }
  .bg__nav {
    padding: 0;
    height: 1px;
    display: none;
  }
  .label__form {
    display: flex;
    width: 580px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .policy {
    margin-left: auto;
    margin-right: auto;
  }
  .btn__popup {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .form-dark__up {
    padding: 46px 0px;
  }
  .form__dark {
    width: 100%;
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .logo {
    position: relative;
    left: 0;
    z-index: 10;
    margin-top: -5px;
    margin-left: 15px;
  }
  .logo h2 {
    margin-top: 0;
  }
  .mobile-backcolor {
    background-color: #001F44;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  .mobile-backcolor .menu__btn {
    top: 24px;
  }
  .mobile-backcolor .logo {
    margin-top: -5px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 23px;
    right: 24px;
    width: 42px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    padding-top: 0px;
    border: none;
    z-index: 9;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: #001F44;
    z-index: 8;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Proxima Nova Semibold';
    font-size: 35px;
    line-height: 130%;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #16192a;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  #menu__toggle:checked + .logo h2 a {
    color: white;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.4s;
  }
  .menu__box {
    transition-duration: 0.7s;
  }
  .menu__item {
    transition-duration: 0.7s;
  }
  .menu-index {
    position: relative;
  }
  .menu-index .logo h2 a {
    color: #001535;
  }
  .menu-index .menu__btn > span, .menu-index .menu__btn > span::before, .menu-index .menu__btn > span::after {
    background-color: #001535;
  }
}

@media screen and (max-width: 747px) {
  .ppp__form h3 {
    font-size: 24px;
    width: 100%;
  }
  .ppp__window {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .ppp__close {
    margin-top: 20px;
    margin-right: 20px;
  }
  .ppp__form {
    margin: 20px;
    border: 0px solid white;
    height: 100vh;
    padding-top: 50px;
  }
  .form__pp {
    display: block;
    width: 280px;
  }
  .project__card {
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
  }
  .pluses__number {
    padding: 30px 30px 0 0;
  }
  .post__card {
    width: 320px;
    height: 432px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .header__left {
    width: 100%;
  }
  .header__left h2 {
    font-size: 42px;
  }
  .info h3 {
    font-size: 26px;
  }
  h2 {
    font-size: 40px;
  }
  .label__form {
    display: block;
    width: 280px;
  }
  .form-dark__up {
    height: 490px;
    margin: 20px;
  }
  .form-dark__up h3 {
    font-size: 26px;
  }
  .policy {
    text-align: center;
  }
}

@media screen and (max-width: 686px) {
  .footer-admin {
    display: block;
  }
  .admf {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-menu {
    display: block;
  }
  .footer-menu ul {
    display: block;
  }
  .footer-menu ul li {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .footer__down {
    display: block;
  }
  .pol {
    margin-top: 0;
  }
  .pol a:first-child {
    margin: 20px 0px;
    display: block;
  }
  .post__text .text {
    font-size: 16px;
  }
  .service__card h3 {
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .project__card {
    width: 230px;
    height: 230px;
  }
  .project__card p {
    font-size: 16px;
  }
  .service__card {
    height: 230px;
  }
  .service__card p {
    font-size: 16px;
  }
  .post__card {
    width: 230px;
    height: 340px;
  }
  .post__card p {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  #calculator {
    width: 100%;
  }
  .calc__n2--head {
    padding: 20px 20px 0;
  }
  .calc__n2--body {
    margin: 0 20px;
  }
  .calc__n2--footer {
    margin: 20px 20px 20px;
    display: flex;
    justify-content: space-between;
  }
  .fdup h3 {
    font-size: 35px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  #calculator .calculator__n2 h2 {
    font-size: 18px;
  }
  #calculator .calculator__n2 h3 {
    font-size: 14px;
  }
  #calculator .calculator__n2 p {
    font-size: 14px;
  }
  .calc__n2--body .body__calc--elem input[type="text"] {
    width: 80px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
  }
}

@media screen and (max-width: 550px) {
  .third-slide {
    overflow: hidden;
  }
  .info {
    width: 310px;
    height: 438px;
    margin-right: -20px;
    padding: 30px 20px 30px 30px;
  }
  .info h3 {
    font-size: 18px;
    padding-right: 10px;
  }
  .header__left h2 {
    font-size: 28px;
  }
  .info p {
    font-size: 14px;
    padding-right: 10px;
  }
  .info {
    height: 458px;
  }
  .header__left p {
    font-size: 14px;
  }
  .h2__light {
    margin-bottom: 30px;
  }
  .form-dark__up h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-dark__up {
    height: 470px;
    margin: 10px;
    padding-top: 30px;
  }
  .dark__form__section {
    padding: 0;
  }
  .fdup h3 {
    font-size: 28px;
    margin-top: 52px;
  }
  .frmpos {
    position: absolute;
    bottom: 0;
    margin-bottom: 140px;
    margin-left: -170px;
    left: 50%;
  }
  .fdup {
    padding: 0;
    margin: 10px;
    height: 438px;
  }
  header {
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .frmpos {
    margin-bottom: 40px;
    margin-left: -148px;
    font-size: 13px;
  }
  .frmpos img {
    margin-top: 16px;
    margin-right: 25px;
  }
  .fdup h3 {
    font-size: 20px;
    margin-top: 30px;
  }
  .fdup {
    padding: 0;
    margin: 10px;
    height: 237px;
  }
  .fdup .frmpos {
    margin-bottom: 40px;
    margin-left: -148px;
    font-size: 13px;
  }
  .fdup .frmpos img {
    margin-top: 16px;
    margin-right: 25px;
  }
}
